@font-face {
  font-family: "iconfont"; /* Project id 5115878 */
  src: url('iconfont.woff2?t=1769135644751') format('woff2'),
       url('iconfont.woff?t=1769135644751') format('woff'),
       url('iconfont.ttf?t=1769135644751') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yumingzhuce:before {
  content: "\e768";
}

.icon-log:before {
  content: "\e803";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-zhanghaoguanli:before {
  content: "\e71b";
}

.icon-yumingtuoguanfuwujigou:before {
  content: "\e632";
}

.icon-yumingguanli:before {
  content: "\e608";
}

