@font-face {
  font-family: "iconfont"; /* Project id 4649245 */
  src: url('iconfont.woff2?t=1775459153378') format('woff2'),
       url('iconfont.woff?t=1775459153378') format('woff'),
       url('iconfont.ttf?t=1775459153378') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rizhi:before {
  content: "\e69e";
}

.icon-tag-plus:before {
  content: "\e74f";
}

.icon-Silence:before {
  content: "\e6df";
}

.icon-jingmo:before {
  content: "\e605";
}

.icon-tongbu:before {
  content: "\e60b";
}

.icon-zhuangtai:before {
  content: "\e62e";
}

.icon-jiankongpingtai:before {
  content: "\e667";
}

.icon-huizong:before {
  content: "\e623";
}

.icon-guizeguanli:before {
  content: "\e663";
}

.icon-jichengzhongxin:before {
  content: "\e606";
}

.icon-yewuguanli:before {
  content: "\e60f";
}

.icon-jichengzhongxin1:before {
  content: "\e619";
}

.icon-gailan:before {
  content: "\e69d";
}

