shell-emulator=true
shamefully-hoist=true
enable-pre-post-scripts=false
strict-peer-dependencies=false

# 华为云私有仓库配置
registry=https://devrepo.devcloud.ap-southeast-3.huaweicloud.com/artgalaxy/api/npm/ap-southeast-3_640db3b266514e97b61987c366f66b22_npm_5_1/
strict-ssl=false
always-auth=true
//devrepo.devcloud.ap-southeast-3.huaweicloud.com/artgalaxy/api/npm/ap-southeast-3_640db3b266514e97b61987c366f66b22_npm_5_1/:_auth=YXAtc291dGhlYXN0LTNfNjQwZGIzYjI2NjUxNGU5N2I2MTk4N2MzNjZmNjZiMjJfMzAxYTNhNmI0NmYxNDE1Mjk5Y2I3ODQ2MWJhMzEzYjU6PVc2ZU5rNz1MXg==